[submodule "exercise1/dt-sample-program"]
	path = exercise1/dt-sample-program
	url = git@github.com:WINUprj/dt-sample-program.git
[submodule "exercise2/l2p2"]
	path = exercise2/l2p2
	url = git@github.com:WINUprj/l2p2.git
[submodule "exercise3/l3"]
	path = exercise3/l3
	url = https://github.com/WINUprj/l3
[submodule "exercise4/l4"]
	path = exercise4/l4
	url = git@github.com:WINUprj/l4.git
[submodule "exercise5/l5_pred"]
	path = exercise5/l5_pred
	url = https://github.com/WINUprj/l5_pred
[submodule "exercise5/l5"]
	path = exercise5/l5
	url = https://github.com/WINUprj/l5
